[submodule "smart_contract/lib/openzeppelin-contracts"]
	path = smart_contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "smart_contract/lib/chainlink"]
	path = smart_contract/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
