# Node
node_modules
dist
build
coverage

# Logs
*.log
anvil.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.vscode/

# Smart Contract
smart_contract/cache/
smart_contract/out/
smart_contract/broadcast/
smart_contract/artifacts/
smart_contract/.env
smart_contract/.env.*
smart_contract/anvil.log

# Frameworks / Tools
.idx/
.ajoo
server/public
vite.config.ts.timestamp*
*.tar.gz

# Environment Variables
.env
.env.*
!.env.example
